<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.plasmoverse.plasmovoice.mic</string>
    <key>CFBundleExecutable</key>
    <string>PVMicHelper</string>
    <key>CFBundleName</key>
    <string>Plasmo Voice Microphone</string>
    <key>CFBundleDisplayName</key>
    <string>Plasmo Voice Microphone</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSMicrophoneUsageDescription</key>
    <string>Plasmo Voice needs the microphone permission for in-game voice chat.</string>
</dict>
</plist>
